body {
    background-image: url('../images/background-color.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f0f8ff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.error-message {
    color: red;
}

.btn-add-tarefa {
    margin-bottom: 20px;
}

    .btn-add-tarefa .btn {
        width: 200px; 
        background-color: #6495ed;
    }

.table {
    width: 80%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

    .table th {
        background-color: #337ab7;
        color: white;
        font-weight: bold;
    }

    .table td {
        vertical-align: middle; 
    }

.btn-excluir {
    color: #d9534f;
    border-color: #d9534f;
}

.btn-custom {
    background-color: #f8f9fa; /* Cor de fundo cinza claro */
    border: 1px solid #ced4da; /* Borda cinza */
    padding: 10px 20px; /* Espaçamento interno */
    font-size: 16px; /* Tamanho da fonte */
    border-radius: 5px; /* Bordas arredondadas */
    text-transform: uppercase; /* Texto em maiúsculas */
    transition: background-color 0.3s; /* Transição suave */
}

    .btn-custom:hover {
        background-color: #e2e6ea; /* Cor de fundo ao passar o mouse */
        border-color: #dae0e5; /* Cor da borda ao passar o mouse */
    }

